@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); 

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-header {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.7rem;
  font-weight: 650;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #212123;
  margin: 0;
  background-color: #F5F7FA;

}

html {font-size: 16px;}

p {
  font-family: 'Open Sans';
  font-size: 1rem;
  margin: 5px 5px 5px 0px;
}

.shift {
  margin-top: 4.5rem; /* Add a top margin to avoid content overlay */
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 50px;
  padding-right: 10px;
  height: 4.5rem;
  box-shadow: 0px 2px 5px rgba(160, 161, 161, 0.5);
  /* border-bottom: 1px solid #adadb1; */
  z-index: 1000;
}

.logo {
  display: inline-block;
}


.logo img {
  height: 50px;
  vertical-align: middle;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #545455;
  font-weight: 550;
  font-size: 0.88rem;
}

.nav-item a.active {
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.7em;
  color: #003366;
}

.nav-item:hover {
  background-color: none;
}

.nav-item:hover a {
  color: #003366;
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.7em;
}

/* rAIdio and Podcasts */
.container {
  max-width: 1400px;
  margin: 35px auto;
  padding: 35px 50px;
  display: grid;
  grid-template-columns: 320fr 320fr 320fr 320fr;
  grid-column-gap: 28px;
  grid-row-gap: 0.8rem;
  background-color: none;
}

.grid {
  background-color: none;
  color: #212123;
  padding: 25px;
}

.roundButton {
  background-color: #003366;
  height: 3.0rem;
  width: 3.0rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: white;
}

.roundButtonLarge {
  background-color: #003366;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}